@import url("../Graphik/Graphik-Bold/style.css");
@import url("../Graphik/Graphik-Medium/style.css");
@import url("../Graphik/Graphik-Regular/style.css");
@import url("../Graphik/Graphik-Light/style.css");



body {
  font-family: 'Graphik';
  font-style: normal;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 430px;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 75px;

  border: 1px solid black;
}

@media screen and (max-device-width: 477px) {
  .popup {
    width: 100%;
  }
}

.popup-close {
  margin-top: 26px;
  margin-left: auto;
  margin-right: 26px;
  cursor: pointer;
 
  width: 15px;
  height: 15px;
}

.popup-button-white {
  width: 344px;
  height: 44px;
  text-transform: uppercase;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #d6dfd6;
  border-radius: 0.5em;

  background-color: #fff;
}

.popup-button-purple {
  width: 344px;
  height: 44px;
  text-transform: uppercase;
  
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  border-radius: 0.5em;

  background-color: #405a93;
  color: #fff;
}

.heading {
  width: 316px;
  margin-left: auto;
  margin-right: auto;
}

.heading-text {
  font-size: 18px;
}

.hrule-container {
  display: flex;
  width: 344px;
  justify-content: space-around;

  margin-left: auto;
  margin-right: auto;
  
  padding-top: 45px;
  padding-bottom: 37px;
}

.hrule {
  width: 115px;
  border: none;
  border-top: 1px solid #3C3C3C;
  ;
}

.hrule-full {
  width: 344px;
  border: none;
  border-top: 1px solid #3C3C3C;
  ;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-left: 9%;
}
.form-input {
  width: 343px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  padding-left: 14px;
  
}

.button-container {
  display: flex;
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.question-container {
  display: flex;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;
}


.button-enter {
  font-size: 2.25vh;
  margin-top: 6%;
  padding: 4% 6%;
  border: none;
  border-radius: 0.5em;

  color: #fff;
  background-color: #0caa5e;
}

.button-forgot {
  font-size: 2.25vh;
  margin-top: 6%;
  padding: 2% 4%;
  border: none;
  border-radius: 0.5em;
}
